canvas {
  border-radius: 50%;
}

.transparent {
  display: none;
}

#upload-label {
  cursor: pointer;
}

#preview {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: dashed 3px rgba(50, 50, 50, 0.33);
}